<!DOCTYPE html>
<html lang="ja">
    <head>
        <style>
            .pad {
                background-color: lavender;
                border: solid 2px;
                padding: 30px 100px 100px;
                margin: 50px 70px auto 70px;
            }

        </style>
    </head>

    <body>
        <div class="pad">
            <h2>Photo Gallery</h2>
            <h4>新しいパスワードを２回入力してください。</h4>
            <h4>これにより、正しく入力できたことが確認されます。</h4>
            <br />
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="パスワードリセット">
            </form>
        </div>
    </body>
</html>
